{{! <div class="big-con"> }}
{{! <Navbar /> }}


<h1 class="text-center mt-4 fixed-top">90s Theate in India in the 90s</h1>
<div class="d-flex mt-7 ms-3">
  {{! events }}
  <div style="max-width: 80%; min-width:70%;">
    <div class="text-center my-4 bg-light fs-3">Events</div>
    {{#each (range 1989 2001) as |year|}}
      <EventByYear @year={{year}} @allEvents={{@model.milieus}} />
    {{/each}}
  </div>

  {{! plays }}
  <div style="max-width: 80%; min-width:70%;">
    <div class="text-center my-4 mx-5 bg-light fs-3">Plays</div>
    {{#each (range 1989 2001) as |year|}}
      <PlaysByYear @year={{year}} @allPlays={{@model.plays}} />
    {{/each}}
  </div>

  {{! theatre events }}
  <div style="max-width: 80%; min-width:70%;">
    <div class="text-center my-4 bg-light fs-3">Theatre Milieu</div>
    {{#each (range 1989 2001) as |year|}}
      <TheatreEventByYear
        @year={{year}}
        @allTheatreMilieus={{@model.theatreMilieus}}
      />
    {{/each}}
  </div>

</div>


{{outlet}}