
{{!-- events --}}
{{#if @event}}
  <div class="p-2 mb-2 event-{{@event.modules.event_type}}">
    {{!-- <div class="p-3">{{@event.modules.title}}</div> --}}
  </div>
{{/if}}

{{!-- plays --}}
{{#if @plays}}
  <div class="p-2 mb-2 plays-{{@plays.modules}}">
    {{!-- <div class="p-3">{{@plays.modules.title}}</div> --}}
  </div>
{{/if}}

{{!-- theatre events --}}
{{#if @theatreEvent}}
  <div class="p-2 mb-2 theatreEvent-{{@theatreEvent.modules.event_type}}">
    {{!-- <div class="p-3">{{@theatreEvent.modules.title}}</div> --}}
  </div>
{{/if}}

