
<div  class="reveal-block">
  <h3 class="text-light text-center mb-4"> Plays </h3>
  <div style="min-width:70%;" class="mx-5" id="tableWraper">
    <table class="table table-dark table-bordered w-100">
      <thead>
        <tr class="text-center text-light">
          <th style="min-width: 200px;">Title</th>
          <th style="min-width: 200px;">Language</th>
          <th style="min-width: 250px;">Playwright & Director</th>
          <th
            class="brief-column"
            id="briefHead"
            {{on "click" this.showBrief}}
            style="cursor: pointer; min-width: 550px;"
          >
            {{!-- Brief --}}
            <span class="open-symbol">Brief ∧</span>
            <span class="close-symbol" style="display: none;">Brief ></span>
          </th>
        </tr>
      </thead>
      <tbody {{did-insert this.animateReveal}}>
        {{#each @allPlays as |play|}}
          {{#if (eq play.modules.year @year)}}
            <tr>
              <td class="my-4 mx-2 text-wrap text-light">{{play.modules.title}}</td>
              <td
                class="my-4 mx-2 text-wrap text-light"
              >{{play.modules.language}}</td>
              <td
                class="my-4 mx-2 text-wrap text-light"
              >{{play.modules.playwrights}}</td>
              <td class="my-4 mx-2 text-wrap text-light">
                <span class="showBriefData">{{play.modules.brief}}</span>
              </td>
            </tr>
          {{/if}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>