
<div>
<h3 class="text-light text-center mb-4">Theatre Events</h3>
<div style="min-width:70%;">
  <table class="table table-dark table-bordered w-100">
    <thead>
      <tr class="text-center">
        <th style="min-width: 200px;">Festival</th>
        <th style="min-width: 200px;">Workshop</th>
        <th style="min-width: 200px;">Seminar</th>
        <th style="min-width: 200px;">College Festival</th>
        <th style="min-width: 200px;">Award</th>
      </tr>
    </thead>
    <tbody>
      <tr {{did-insert this.animateReveal}} >
        <td>
          {{#each @allTheatreMilieus as |item|}}
            {{#if (and (eq item.modules.year @year) (eq item.modules.event_type "festival"))}}
              <div class="my-4 mx-2 text-wrap" {{did-insert this.animateReveal}}>{{item.modules.title}}</div>
            {{/if}}
          {{/each}}
        </td>
        <td>
          {{#each @allTheatreMilieus as |item|}}
            {{#if (and (eq item.modules.year @year) (eq item.modules.event_type "workshop"))}}
              <div class="my-4 mx-2 text-wrap" {{did-insert this.animateReveal}}>{{item.modules.title}}</div>
            {{/if}}
          {{/each}}
        </td>
        <td>
          {{#each @allTheatreMilieus as |item|}}
            {{#if (and (eq item.modules.year @year) (eq item.modules.event_type "seminar"))}}
              <div class="my-4 mx-2 text-wrap" {{did-insert this.animateReveal}}>{{item.modules.title}}</div>
            {{/if}}
          {{/each}}
        </td>
        <td>
          {{#each @allTheatreMilieus as |item|}}
            {{#if (and (eq item.modules.year @year) (eq item.modules.event_type "college_festival"))}}
              <div class="my-4 mx-2 text-wrap" {{did-insert this.animateReveal}}>{{item.modules.title}}</div>
            {{/if}}
          {{/each}}
        </td>
        <td>
          {{#each @allTheatreMilieus as |item|}}
            {{#if (and (eq item.modules.year @year) (eq item.modules.event_type "award"))}}
              <div class="my-4 mx-2 text-wrap" {{did-insert this.animateReveal}}>{{item.modules.title}}</div>
            {{/if}}
          {{/each}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>